<main>
    <img id="sadFaceImg"
        src="https://raw.githubusercontent.com/Shtekata/Utilities/master/svg-png-icons/500.png"
        alt="server error code: 500" width="500" />
    <h1>Error code: 500</h1>
    {{#if err}}
    <h4 class="err500">{{err.msg}}</h4>
    {{/if}}
    <style>button{background-color:#007BFF}</style>
    <button><a href="/">Back</a></button>
</main>